{% load static %}
<head>

    <meta charset="UTF-8">
    <meta name="viewport"
          content="user-scalable=0, width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <title>Classes - Belle &amp; Carrie Rehabilitation Yoga Web Template</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" href="{% static 'css/mobile.css' %}">
    <script type='text/javascript' src='js/mobile.js'></script>
</head>
<body>
<div id="header">
    <h1><a href="{% url 'yoga_home:homepage' %}">Belle &amp; Carrie <span>Rehabilitation Yoga</span></a></h1>
    <ul id="navigation">
        <li>
            <a href="{% url 'yoga_home:homepage' %}">Home</a>
        </li>
        <li>
            <a href="{% url 'yoga_about:about' %}">About</a>
        </li>
        <li>
            <a href="{% url 'yoga_classes:classes' %}">Classes</a>
            <ul>
                <li>
                    <a href="{% url 'yoga_classes:instructors' %}">Instructors</a>
                </li>
            </ul>
        </li>
        <li class="current">
            <a href="{% url 'yoga_contact:contact' %}">Contact</a>
        </li>
        <li>
            <a href="{% url 'yoga_blog:blog' %}">Blog</a>
        </li>
    </ul>
</div>
<div id="body">
    <h2>Oops! That email is already registered.</h2>
    <p>Seems the mail you put has already been used.</p>
    <p class="my-5"><a href="{% url 'yoga_contact:contact' %}">Check again here...</a></p>
</div>
</body>
